@{
    ViewData["Title"] = "Búsquedas";
}
<h3>Búsquedas Avanzadas de Plantas</h3>

<div class="row">
    <ul class="col">
        <li class="list-unstyled">
            <a asp-controller="Planta" asp-action="BusqPorNombre">Búsqueda por Nombre o Nombres Vulgares</a>
        </li>
        <li class="list-unstyled">
            <a asp-controller="Planta" asp-action="">2</a>
        </li>
        <li class="list-unstyled">
            <a asp-controller="Planta" asp-action="BusqTipoAmbiente">Buscar por tipo de ambiente</a>
        </li>
        <li class="list-unstyled">
            <a asp-controller="Planta" asp-action="BusqMenorAltura">Buscar Plantas Menores que una Altura</a>
        </li>
        <li class="list-unstyled">
            <a asp-controller="Planta" asp-action="BusqMayorAltura">Buscar Plantas Mayores que una Altura</a>
        </li>        
    </ul>
</div>