@model Dominio.EntidadesVivero.TipoPlanta

@{
    ViewData["Title"] = "Insertar";
}

<h3>Nuevo Tipo de Planta</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="CrearTP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" id="nombre" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcionTipo" class="control-label">Descripción</label>                
                <textarea asp-for="descripcionTipo" class="form-control" id="descripcionTipo" rows="10" cols="10"></textarea>
                <span asp-validation-for="descripcionTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Mostrar Todos los Tipos de Planta</a>
</div>

<p id="pMensaje">@ViewBag.Error</p>

<style>
    textarea {
        resize: none;
    }
</style>

@section Scripts {
    <script>
        document.querySelector("#CrearTP").addEventListener('submit', Insertar)

        function Insertar(evento) {
            evento.preventDefault();

            let nombre = document.querySelector("#nombre").value;
            let descripcionTipo = document.querySelector("#descripcionTipo").value;
            descripcionTipo = descripcionTipo.trim();            
            let nombreConNum = false;

            if (nombre != "" && descripcionTipo != "") {

                if (nombre.charAt(0) != " " && nombre.charAt(nombre.length - 1) != " ") {
                    nombre = nombre.replaceAll(" ","_")
                    for (let i = 0; i < nombre.length; i++) {                        
                        if (Number(nombre[i]) >= 0 || Number(nombre[i]) <= 9) {
                            nombreConNum = true;
                            break;
                        }
                    }
                    if (!nombreConNum) {
                        if (descripcionTipo.length >= 10 && descripcionTipo.length <= 200) {
                            document.querySelector("#pMensaje").innerHTML = "";
                            this.submit();
                        }
                        else {
                            document.querySelector("#pMensaje").innerHTML = "El campo descripción debe estar entre 10 y 200 caracteres.";
                        }
                    }
                    else {
                        document.querySelector("#pMensaje").innerHTML = "El nombre del Tipo de Planta tiene números, verifíquelo.";
                    }

                }
                else {
                    document.querySelector("#pMensaje").innerHTML = "El nombre del Tipo de Planta tiene espacios embebidos, verifíquelo.";
                }

            } else {
                document.querySelector("#pMensaje").innerHTML = "Complete todos los campos.";
            }
        }

    </script>
}