@model Dominio.EntidadesVivero.TipoPlanta

@{
    ViewData["Title"] = "Eliminar ";
}


<h3>Seguro que deseas Eliminar este Tipo de Planta?</h3>
<div>    
    <hr />
    <dl class="row">       
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
           Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcionTipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Mostrar Todos</a>
    </form>
</div>
