@model Dominio.EntidadesVivero.TipoPlanta

@{
    ViewData["Title"] = "Editar";
}

<h3>Editar</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="EditTP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" readonly/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <textarea asp-for="Descripcion" class="form-control" id="descripcionTipo" rows="10" cols="10"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a la Lista</a>
</div>
<p id="pMensaje">@ViewBag.Error</p>
@section Scripts {
    <script>
        document.querySelector("#EditTP").addEventListener('submit', Editar)

        function Editar(evento) {
            evento.preventDefault();
            let descripcionTipo = document.querySelector("#descripcionTipo").value;
            descripcionTipo = descripcionTipo.trim();

            if (descripcionTipo != "") {
                if (descripcionTipo.length >= 10 && descripcionTipo.length <= 200) {
                    document.querySelector("#pMensaje").innerHTML = "";
                    this.submit();
                }
                else {
                    document.querySelector("#pMensaje").innerHTML = "El campo descripción debe estar entre 10 y 200 caracteres.";
                }
            } else {
                document.querySelector("#pMensaje").innerHTML = "Complete todos los campos.";
            }
        }

    </script>
}
