@model IEnumerable<Dominio.EntidadesVivero.TipoPlanta>

@{
    ViewData["Title"] = "Tipos de Plantas";
}

<h1>Tipos de Planta</h1>

<div class="row">
    <div class="col-sm text-sm-left">
        <p>
            <a asp-action="Create">Crear Nuevo</a>
        </p>
    </div>
    <div class="col-sm text-sm-right">
        <form asp-controller="TiPoPlanta">
            <input type="search" id="campoNombre" placeholder="Buscar..." />            
            <a asp-action="" class="text-decoration-none">Buscar</a>
            <a asp-action="Index" class="text-decoration-none">Mostrar Todos</a>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>            
            <th>
               Nombre
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionTipo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id}) |               
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
