@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Sistema de Gestión de Plantas del Vivero</h3>
    @if (Context.Session.GetString("datosNombreUsuario") != null)
    {
        <figure>
            <img class="img-thumbnail" src="~/img/Vivero.jpg"/>
        </figure>
    }
    else
    {
        <p class="text-center">Si desea acceder a todas las funciones de nuestra página debe <a asp-controller="Usuario" asp-action="Register" class="text-decoration-none">Registrarse</a> o <a asp-controller="Usuario" asp-action="Login" class="text-decoration-none">Loguearse</a> </p>
    }
</div>
