@{
    ViewData["Title"] = "Login";
}
<h3>Login</h3>
<div class="row">
    <div class="col-md-4">
        <form id="formLogin" method="post">
            <div class="form-group">
                <label for="emailUsuario" class="control-label">Email</label>
                <input type="email" id="emailUsuario" name="emailUsuario" class="form-control" />
            </div>
            <div class="form-group">
                <label for="contrasenna" class="control-label">Contraseña</label>
                <input type="password" id="contrasenia" name="contrasenia" class="form-control" />
            </div>
            <input type="submit" value="Ingresar" />
        </form>
    </div>
</div>
<p id="pMensaje">@ViewBag.Error</p>


@section Scripts{
    <script>
    document.querySelector("#formLogin").addEventListener('submit', evaluarLogin)

    function evaluarLogin(evento) {
            evento.preventDefault();
            let emailUsuario = document.querySelector("#emailUsuario").value;
            let contrasenia = document.querySelector("#contrasenia").value;
            @*Validacion email de usuario*@
            if (emailUsuario != "") {
                if (emailUsuario.indexOf("@@") == -1) {
                    document.querySelector("#pMensaje").innerHTML = "El correo debe incluir al menos un @@ para que sea válido.";
                }
                else {
                    @* Validacion contraseña *@
                if (contrasenia == "") {
                        document.querySelector("#pMensaje").innerHTML = "Complete el campo contraseña.";
                    } else {
                        if (contrasenia.length < 6) {
                            document.querySelector("#pMensaje").innerHTML = "La contraseña debe tener un mínimo de 6 caracteres.";
                        }
                        else {
                            this.submit();
                        }
                    }
                }
            } else {
                document.querySelector("#pMensaje").innerHTML = "Complete los campos para poder ingresar.";
            }

        }
    </script>
}