@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form id="registroUsuario" method="post">
    <input type="submit" value="Precargar Usuarios"/>
</form>
<p id="pMensaje">@ViewBag.Error</p>